* {
  margin: 0;
  box-sizing: border-box;
}
:root {
  --vh: 1vh;
}
body {
  color: white;
  background-color: black;
  display: grid;
  /* place-items: center; */
  width: 100%;  
  position:relative;
  min-height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  max-height: calc(var(--vh, 1vh) * 100);
}


.app__videos {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  bottom:0;
  position: relative;
  height: 100%;
  height: calc(var(--vh, 1vh) * 100);
  background-color: white;  
  width: 420px;
  min-width: 320px;  
  border-radius: 20px;
  margin:0 auto;
}

.app__videos::-webkit-scrollbar {
  display: none;
}

.app__videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.video {
  scroll-snap-align: start;
  position: relative; 
  height: 100%;
  width: 100%;
  background-color: white;  
  margin: 0 auto;
}

.video__player {
  width:100%; 
  height: 100%;
  object-fit: cover;
 
}

.videoSidebar {
  position: absolute;
  bottom: 50%;
  right: 10px;
}

.videoSidebar .material-icons {
  font-size: 28px;
  cursor: pointer;
}

.videoSidebar__button {
  padding: 20px;
  text-align: center;
}

.videoFooter {
  position: relative;
  bottom: 150px;
  margin-left: 20px;
  color: white;
  display: flex;
}

@keyframes spinTheRecord {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.videoFooter__record {
  animation: spinTheRecord infinite 5s linear;
  height: 50px;
  filter: invert(1);
  position: absolute;
  bottom: 0;
  right: 20px;
}

.videoFooter__text {
  flex: 1;
}

.videoFooter__text h3 {
  padding-bottom: 20px;
}

.videoFooter__icon {
  position: absolute;
}

.videoFooter__ticker {
  width: 320px;
  display: flex;
  align-items: center;
}

.videoFooter__ticker marquee {
  height: fit-content;
  margin-left: 30px;
  width: 85%;
}

.videoFooter__description {
  padding-bottom: 20px;
}

@media (max-width: 425px) {
  .app__videos {
    width: 100%;
    /* height: 100%; */
    border-radius: 0;
  }
}
